<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles1.css">
    
    <script src="https://kit.fontawesome.com/f4230ae877.js" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <a href="/">
                <div class="logo-div"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" id="logo"></div>
            </a> 
            <div class="barra-busqueda">
                <input type="text" placeholder="Buscar productos, marcas...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="header-p-1"><p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
        </div>
        <div class="header-p">
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <div class="nav1">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="login-user">
                <ul>
                    <li><a href="/register">Crea tu cuenta</a><i class="fa-sharp fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping "></i></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="banner-header" src="images/img-home-banner.jpg" alt="Banner de inicio">
    </header>

    <main>
        <section class="ultima-visita">
            <h1>Basado en tu última visita</h1>
            <div class="container-productos">
                
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="logo cafetera " class="product_img"> 
                <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                 <li class="precio">$6.770</li>
                 <li class="descuento"> 40% off </li>
                 <li class="descripcion"> Cafetera Moulinex </li>
            </article>
               
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                 <li class="precio"> $230.000</li>
                 <li class="descuento"> 20% off </li>
                 <li class="descripcion"> MacBook Pro 2019 </li>
            </article>   

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                 <li class="precio">$70.500 </li>
                 <li class="descuento">10% off  </li>
                 <li class="descripcion">Teléfono móvil Samsung Galaxy S10 </li>
            </article>   

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                <li class="precio"> $23.200 </li>
                 <li class="descuento">5% off   </li>
                 <li class="descripcion"> SmartTv Samsung 43" </li>
            </article>

            </div>
        </section>
    
        <section class="ofertas">
            <h1>Ofertas</h1>
            <div class="container-productos">
                
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="logo cafetera " class="product_img"> 
                    <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                     <li class="precio">$6.770</li>
                     <li class="descuento"> 40% off </li>
                     <li class="descripcion"> Cafetera Moulinex </li>
                </article>
                   
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                     <li class="precio"> $230.000</li>
                     <li class="descuento"> 20% off </li>
                     <li class="descripcion"> MacBook Pro 2019 </li>
                </article>   
    
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                     <li class="precio">$70.500 </li>
                     <li class="descuento">10% off  </li>
                     <li class="descripcion">Teléfono móvil Samsung Galaxy S10 </li>
                </article>   
    
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
                    <li class="precio"> $23.200 </li>
                     <li class="descuento">5% off   </li>
                     <li class="descripcion"> SmartTv Samsung 43" </li>
                </article>

            </div>
        </section>
    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card iconos"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    
        <section>
            <i class="fa-solid fa-gift iconos"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
    
        <section>
            <i class="fa-solid fa-user-shield iconos"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    
        <section>
            <p>&copy; 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>
